<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css">
</head>
<style>
    .postBrief {
        height: 100px;
        padding: 10px;
        border-bottom: 1px solid black;
        border-radius: 5px;
        margin: 10px;
        opacity: 0.8;
        /*background: #8d8b92;*/
        font-family: STSong;
        font-size: 15px;
        overflow: hidden;
    }

    .blogTitle {
        color: red;
        font-family: "Zapfino";
        font-size: 15px;
    }

    .content {
        margin-top: 70px;
    }

    .pageActive {
        background: #8d8b92 !important;
    }
</style>
<body>
<!--<div class="navTop">-->
<!--<span class="blogTitle">kerry's blog</span>-->
<!--</div>-->
<div class="container" id="homepage">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand blogTitle" href="#">kerry's blog</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li :class="{active: selectIndex === index}" v-for="(item, index) in tabItems"
                        :key="index">
                        <a href="#" @click="handleNavClick(index)">${item}</a>
                    </li>
                </ul>
                <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#">login</a></li>-->
                <!--<li><a href="#">register</a></li>-->
                <!--</ul>-->
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" v-model="keyword">
                    </div>
                    <button type="submit" class="btn btn-default" @click="search">Submit</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="contentComp" v-if="selectIndex === 0">
            <div class="postBrief" v-for="(item, index) in menuItems"
                 :key="index">
                <a :href="'http://localhost:3000/postOp/getPost/'+item.id" :target="'_blank'">${item.title}</a>
                <p v-html="item.resultText"></p>
            </div>
            <nav class="text-center" aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" @click="pagePrevious" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li v-for="(item, index) in pagination">
                        <a :class="{pageActive: currentPage === item}" href="#" @click="queryPostByPageInfo(item)">${item}</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Next" @click="pageNext">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div v-else><span>个人简介相关</span>
            <div>
                <button class="btn-default">导出成简历</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var homepage = new Vue({
        delimiters: ['${', '}'],
        el: "#homepage",
        data: {
            tabItems: ["homepage", "aboutMe"],
            menuItems: [],
            selectIndex: 0,
            keyword: "",
            pagination: [1],
            currentPage: 1

        },
        methods: {
            handleNavClick: function (index) {
                this.selectIndex = index;
            },
            search: function (e) {
                e.preventDefault();

                let self = this;
                let data = {"pageInfo": this.currentPage, "keyword": this.keyword};
                let callback = function (res) {
                    debugger;
                    self.menuItems = res;
                    // self.createPageInfo();
                    console.log(res);
                };
                this.queryAllPosts(data, callback);

            },
            createPageInfo: function () {
                debugger;
                let self = this;
                let count = this.menuItems.length;
                let pageCount = parseInt(count / 5) + 1;
                this.pagination = [];
                for (var i = 1; i <= pageCount; i++) {
                    this.pagination.push(i);
                }

            },
            queryAllPosts: function (dataConf, callback) {
                $.ajax({
                    url: '/postOp/queryAllPosts',
                    async: true,
                    data: dataConf,
                    type: 'post',
                    success: function (res) {
                        callback(res);
                    }
                })
            },
            queryPostByPageInfo: function (index) {
                this.currentPage = index;
                let self = this;
                let data = {pageInfo: index};
                this.queryAllPosts(data, function (res) {
                    self.menuItems = res;
                })
            },
            pagePrevious: function () {
                if (this.currentPage > 1) {
                    this.currentPage -= 1;
                }
                this.queryPostByPageInfo(this.currentPage);
            },
            pageNext: function () {
                if (this.currentPage < this.pagination.length) {
                    this.currentPage += 1;
                }
                this.queryPostByPageInfo(this.currentPage);
            }
        },
        mounted: function () {
            let self = this;
            this.queryAllPosts({}, function (res) {
                self.menuItems = res;
                self.createPageInfo();
                self.queryPostByPageInfo(1);

            })
        }
    });
</script>
</html>
